body {
	margin: 0;
	background-color: grey;
}

form {
	position: relative;
	background-color: rgb(255,255,255,0.7);
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	min-width: 50vw;
	max-width: 50vw;
	margin: auto;
	top: 5vh;
	height: 80vh;
}


.input_flex {
	display:flex;
	justify-content:space-between;
	flex-wrap: wrap;
	min-width: 0;
	flex-shrink: 2;
}

.input_flex label, input{
}

.input_flex input {
	min-width: 0;
	flex-shrink: 2;
}


