body {
	padding: 0;
	margin: 0;
	background-color: grey;
}

#app {
	position: relative;
	height: 100vh;
}
form {
	position: relative;
	background-color: rgb(255,255,255,0.7);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	margin: 0 5%;
	min-width: 50vw;
	top: 5vh;
	min-height: 40vh;
	max-height: 80vh;
}
form h1 {
	margin: 0 auto;
	margin-bottom: 10%;
}

form input[type="submit"] {
	width: 40%;
	margin: 0 auto;
	margin-bottom: 10%;
	margin-top: 10%;
}

.input_flex {
	width: 70%;
	display: flex;
	align-items: center;
}

.input_flex input{
	min-width: 0;
	max-width:200px;
}

.input_flex input, label {
	flex: 1;
	font-size: 1.3rem;
}

.input_error {
	width: 100%;
	display: flex;
	flex: 1;
	margin-left: 100%;;
	color: red;
}

@media(min-width: 537px){
	form{
		min-width: 537px;
		max-width: 537px;
		margin: 0 auto;
	}
}

@media(max-width: 400px){
	form{
		justify-content: space-evenly;
	}
	form input[type="submit"]{
		margin-top: 15%;
		margin-bottom: 25%;
	}
}

@media(max-width: 370px){
	.input_error{
		margin-left: 30%;
	}
}
