body {
	margin: 0;
	background-color: grey;
}

form {
	position: relative;
	background-color: rgb(255,255,255,0.7);
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 5%;
	min-width: 50vw;
	top: 5vh;
	height: 40vh;
}
